
# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/
build/
tmp/
#
*
!.firebase
*
!gitignore
.firebase/hosting.YnVpbGQ.cache
build/asset-manifest.json
build/index.html
