.booking-request-card{
    background: #FAFBFB;
    border: 1px solid #E5E5E5;
    @include box-shadow(0px 5px 10px rgba(115, 131, 147, 0.0421493));
    @include border-radius(6px);
    padding: 30px 20px;
    .price-block{
        font-size: 28px;
        font-weight: normal;
        margin-bottom: 20px;
        color: $primary-color;
        .price-label{
            display: inline-block;
            font-size: 14px;
            color: $sub-font-color;
            font-family: $sub-font;
            position: relative;
            top: -2px;
            left: -4px;
        }
    }
    .sub-title{
        font-size: 15px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 5px;
        color: $primary-color;
    }
    .services-included{
        line-height: normal;
        .service-item{
            position: relative; 
            display: flex;
            flex-direction: row;
            align-items: center; 
            font-family: $sub-font;
            color: #73ab73;
            margin-bottom: 5px;
            .icon-block{
                font-size: 15px;
                margin-right: 8px;
            }
            .text-block{
                font-size: 13px;
                font-weight: 500;
            }
        } 
    }
    .info-block{
        line-height: normal;
        font-size: 13px;
        font-family: $sub-font;
        @include opacity(0.5);
        margin-bottom: 15px;
        text-align: center;
    }
    .submit-btn{
        width: 100%;
    }
    ///////////////////////////////////////////////
    /// Media queries ///
    ///////////////////////////////////////////////
    @include min-sm { 
        .price-block{
            font-size: 36px; 
        }
    }
}