//////////////////////////
/// Component: Buttons ///
//////////////////////////

.ant-btn {
    font-family: $title-font;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.ant-btn-outline {
    border: solid 2px #898989;
    color: #354266;
    @include border-radius(3px);

    &:hover,
    &:focus {
        background-color: #898989;
        border-color: #898989;
        color: #fff;
    }
}

.btn {
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    touch-action: manipulation;
    padding: 0;
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
    border: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #373e43;
    background-color: transparent;
    position: relative;
    @include transition(all .2s ease-in);
}

.ant-btn-default{
    height: 42px;
    padding: 0 20px;
    line-height: normal;
    background-color: $default-btn-bg;
    color: $default-btn-color;
    border: solid 1px #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        color: $default-btn-color;
        background-color: darken($default-btn-bg, 5%);
        border-color: #ccc;
    }
    .icon-block{
        margin-left: 6px;
    }
}

.btn-has-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    > .icon-block{
        margin-right: 10px; 
        margin-left: 0;
    }
    span + .icon-block{
        margin-left: 10px;
        margin-right: 0;
    }
}
.btn-width-auto{
    width: auto;
}
.btn-width-full{
    width: 100%;
}