//////////////////////////////////////////////////////
/// Page: Login, Signup, Reset and Forgot Password ///
//////////////////////////////////////////////////////

.auth-bg{
    background-color: #eee;
    min-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .auth-wrapper{
        padding: 30px 0; 
    }
    .title-block{
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        color: $primary-color;
        padding-bottom: 10px;
    }
    .auth-wrapper-inner{
        max-width: 400px;
        width: 90%;
        margin: auto;
        padding: 40px;
        background-color: #fff;
        @include border-radius(6px);
        @include box-shadow(0 5px 15px rgba(black, .1))
    }
    .auth-wrapper-inner--signup{
        max-width: 660px;
    }
    .auth-alter{
        font-size: 14px;
        font-family: $sub-font;
        display: flex;
        a{
            cursor: pointer;
            font-weight: 500;
            text-decoration: underline;
            color: #932068;
            &:hover{
                color: #932068;
            }
        }
    }
    .bottom-link-block{
        padding-top: 20px;
        text-align: center;
        font-family: $sub-font;
        font-size: 14px !important;
        span{
            margin-right: 5px;
        }
        a{
            cursor: pointer;
            font-weight: 500;
            text-decoration: underline;
            color: $sub-font-color;
            &:hover{
                color: $default-font-color;
            }
        }
    }
}

.auth-wrapper1{
    .auth-image{
        display: none;
    }
    .auth-form{
        padding: 24px;
        min-height: 100vh;
        display: flex;
        align-items: center;
        width: 100%;
        .auth-form-inner{
            width: 100%;
        }
        .common-form{
            .ant-form-item{
                margin-bottom: 10px;
            }
        }
    }  
    .auth-form-inner{
        max-width: 366px;
        margin: 0 auto;
    }
    .auth-logo{
        cursor: pointer;
        width: 113px;
        margin: 0 auto 20px;
        text-align:-webkit-center;
        // img{
         
        //     // width: 100%;
        // }
    }
    .auth-alter{
        font-size: 14px;
        font-family: $sub-font;
        display: flex;
        a{
            cursor: pointer;
            font-weight: 500;
            text-decoration: underline;
            color: #932068;
            &:hover{
                color: #932068;
            }
        }
    }
    a.forgot-password{
        font-weight: normal;
        font-family: $sub-font; 
        font-size: 13px;
        text-transform: capitalize;
        color: $default-font-color;
        float: right;
        &:hover{
            // color: $secondary-color; 
            text-decoration: underline;
        }
    }
    .form-submit-btn{
        margin-top: 10px;
    }
    .register{
        text-align: center;
        font-family: $sub-font; 
        font-size: 14px;
        line-height: 15px;
        color: $default-font-color;
        margin-top: 60px;
        .ant-typography{
            font-size: 14px;
            font-weight: 400;
        }
        a{
            color: $primary-color;
            font-weight: 500;
            &:hover{
                text-decoration: underline;
                .anticon{
                    right: -3px;
                }
            }
        }
        .anticon{
            font-size: 10px;
            position: relative;
            right: 0;
            // @include transition(all 0.3s ease); 
        }
    }
    @include min-md{
        display: flex;
        .auth-image{
            display: block;
            width: 50%;
            height: 100vh;
            position: sticky;
            top: 0;
            left: 0;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .auth-form{
            width: 50%;
        }
    }
} 

